#wrapper {
    height: 100vh;
}

#nav_sidebar{
    background-color: aliceblue;

}
#content{
    height: 100vh;
    background-color: black;
}
#content_bottom {

    height: 100px;
}


html, body {
    overflow-x: hidden;
}

.silder_left{
    background-color: darkblue;
}

/*  close plotjs toolbar  
.modebar{
    display: none !important;
}*/

.list-group li:nth-child(2){
    border-top: 0 none;
  }