#wrapper {
    height: 100vh;
}

#nav_sidebar{
    background-color: aliceblue;

}
#content {

    height: 100vh;
    background-color: black;
}
#content_middle {

    height: 50vh;
    background-color: black;
}

#content_bottom {

    height: 25vh;
}


html, body {
    overflow-x: hidden;
}

.silder_left{
    background-color: darkblue;
}

/*  close plotjs toolbar  
.modebar{
    display: none !important;
}*/
.list-group li:nth-child(2){
    border-top: 0 none;
  }

#nav_list_item{
    list-style: none;font-size: 12px;
}

#maintainer {
    height: 25px;width: 25px
}